In [29]:
import pandas as pd
dinosaurs = pd.read_csv('dinosaurs.csv')

# print(dinosaurs)

# print(dinosaurs.columns) #gives the name of columns

names = dinosaurs["name"] #took the column named 'name'

# #print(names)

uniqueNames = dinosaurs["name"].unique().size #took unique values in the column and got its length
print("total number of unique names : ",uniqueNames)

# print("there are total : " , uniqueNames.shape ," number of unique names ") #.shape returns total numbers of rows in a column

namesOccurred = dinosaurs["name"].value_counts()
print(namesOccurred)

total number of unique names :  1042
name
Richardoestesia      151
Saurornitholestes    136
Triceratops          125
Iguanodon            111
Troodon              111
                    ...
Baotianmansaurus       1
Fusuisaurus            1
Afrovenator            1
Raptorex               1
Luluichnus             1
Name: count, Length: 1042, dtype: int64